<li class="post" id="post-<%= post._id %>">
    <p>
        <% if((locals.user) && (locals.user.id==post.user.id)){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post._id %>">Delete</a>
            </small>
            <% } %>

                <%= post.content %>
                    <br>
                    <small>
                        <%= post.user.name %>
                    </small>
                    <small>
                        <%= post.updatedAt.toDateString() %>
                    </small>
    </p>
    <div class="post-comments">
        <% if (locals.user) { %>
            <form action="/comments/create" method="post" id="post-<%= post._id %>-comments-form">
                <input type="text" name="content" placeholder="Type here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>
            <% } %>

                <div class="post-comments-list">
                    <h3>Comments</h3>
                    <ul id="post-comments-<%= post._id %>">

                        <% for (comment of post.comments) { %>
                            <%- include('_comment') -%>
                                <% } %>

                    </ul>
                </div>

    </div>
</li>